html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q,
quote {
    background: #f6f6f6 url(../images/quote.png) no-repeat;
    margin: 5px 0;
    padding: 10px 5px 5px 47px;
    quotes: none;
    line-height: 35px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

pre {
    background: #f6f6f6;
    border: 1px solid #bbbbbb;
    margin: 5px 0;
    padding: 7px;
}

code {
    background: #f6f6f6;
    border: 1px solid #bbbbbb;
    display: block;
    margin: 5px 0;
    padding: 7px;
}

ins {
    background-color: #fdfc9b;
    text-decoration: none;
}

mark {
    background-color: #fdfc9b;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

hr {
    background: #eeeeee;
    border: none;
    clear: both;
    float: none;
    height: 1px;
    margin: 7px 0;
    width: 100%;
}

input,
select {
    vertical-align: middle;
}

select {
    border: 1px solid #acacac;
    padding: 3px 4px;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    text-indent: -9999px;
    visibility: hidden;
}

.lastcolumn {
    margin-right: 0 !important;
}

fieldset {
    border: 1px solid #ccc;
    margin: 0 0 1.4615em;
    padding: 1.5385em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}

th,
tr,
td {
    vertical-align: middle;
}

.sticky-header th,
.sticky-table th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}